p {
    margin: 0px;
}
h1 {
    margin: 0px;
}
h2 {
    margin: 0px;
}
h3 {
    margin: 0px;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    /* overflow-y: hidden; Hide vertical scrollbar */
    /* overflow-x: hidden; Hide horizontal scrollbar */
}

body::-webkit-scrollbar {
    display: none;
}

body {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    perspective: 1400px;
    -webkit-perspective: 1400px;
    -moz-perspective: 1400px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    background-image: none;
    background-color: transparent;
}
.gwd-div-hsq5 {
    position: absolute;
    width: 100%;
    height: 10%;
    border-style: solid;
    border-radius: 0px;
    left: -2px;
    border-width: 2pt;
    top: -2px;
}
.gwd-div-1auf {
    position: absolute;
    left: 75%;
    width: 25%;
    height: 89%;
    border-style: solid;
    border-width: 2pt;
    top: 10.1%;
}
.gwd-div-gzqc {
    position: absolute;
    background-image: none;
    background-color: transparent;
    border-radius: 0pt;
    border-style: solid;
    border-width: 2pt;
    height: 15%;
    width: 75%;
    left: -0.24%;
    top: 84.15%;
}
.gwd-p-10ml {
    position: absolute;
    left: 74.98%;
    top: 9.94%;
    width: 25%;
    font-family: Roboto;
    text-align: center;
    height: 6%;
}
.gwd-div-1mug {
    position: absolute;
    border-image-source: none;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-color: rgb(255, 255, 255);
    width: 75%;
    left: 0%;
    border-style: none;
    border-width: 0px;
    height: 74%;
    top: 9.85%;
}
.gwd-img-1a3k {
    display: block;
    height: 66.82%;
    position: absolute;
    width: 38%;
    background-image: none;
    background-color: transparent;
    top: 15%;
    left: 30%;
}
.gwd-div-1ke6 {
    position: absolute;
    top: 2%;
    width: 25%;
    height: 96%;
    left: 35%;
}
.gwd-div-14zw {
    height: 99.95%;
    left: 50%;
    position: absolute;
    top: 0%;
    width: 50%;
}
.gwd-img-6247 {
    display: block;
    height: 100%;
    position: absolute;
    top: 0%;
    width: 89%;
    border-image-source: none;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-color: rgb(71, 179, 41);
    border-style: solid;
    border-width: 0px;
    padding: 0%;
    left: 6%;
    background-image: none;
    background-color: rgb(61, 206, 22);
    border-radius: 100%;
}
.gwd-div-1kx9 {
    height: 99.98%;
    left: 0%;
    position: absolute;
    top: 0%;
    width: 48.74%;
}
.gwd-img-by4v {
    display: block;
    height: 106.46%;
    left: 0%;
    position: absolute;
    top: 0%;
    width: 101%;
}
.gwd-img-jszj {
    display: block;
    left: 0%;
    position: absolute;
    top: 0%;
    width: 34%;
    height: 101%;
}
.gwd-div-uhf8 {
    background-color: rgb(63, 255, 0);
    border-style: solid;
    border-width: 1px;
    position: absolute;
    left: 0%;
    top: 26%;
    width: 100%;
    height: 44%;
}
.gwd-h1-pxev {
    border-style: solid;
    border-width: 1px;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 7%;
}
.gwd-h1-y9xa {
    border-style: solid;
    border-width: 1px;
    left: 0%;
    width: 100%;
    height: 7%;
    top: 69.69%;
}
.gwd-h1-dhnx {
    border-style: solid;
    border-width: 1px;
    font-family: Roboto;
    font-size: 22px;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    left: 0%;
    width: 100%;
    top: 77%;
    height: 22%;
}
.gwd-span-18yn {
    border-style: solid;
    border-width: 1px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    padding-top: 4px;
    position: absolute;
    text-align: center;
    overflow: auto;
    left: 0%;
    top: 7%;
    width: 100%;
    height: 19%;
}
.gwd-span-1rvu {
    display: block;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0%;
    top: 30%;
    height: 70%;
}


/* modal voor settings testen */


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }